<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreatorHomePage</key>
	<string>http://netnewswireapp.com/</string>
	<key>CreatorName</key>
	<string>NewsGator Technologies, Inc.</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
